<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 #=============================================================================#
 # Copyright (c) 2005-2015 Stephan Wahlbrink (WalWare.de) and others.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 #=============================================================================#
-->

<plugin>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.r.internal.core.RCorePreferenceInitializer"/>
   </extension>
   
   <extension
         id="de.walware.statet.r.RNature"
         name="R Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="de.walware.statet.r.internal.core.RProject"/>
      </runtime>
      <requires-nature id="de.walware.statet.base.StatetNature"/>
      <builder id="de.walware.statet.r.builders.RSupport"/>
   </extension>
   <extension
         id="de.walware.statet.r.RPkgNature"
         name="R-Package Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.walware.statet.r.internal.core.RPkgProject">
         </run>
      </runtime>
      <requires-nature
            id="de.walware.statet.r.RNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="de.walware.statet.r.contentTypes.R"
            base-type="org.eclipse.core.runtime.text"
            name="%contentTypes.R.name"
            file-extensions="R,Rhistory"
            priority="normal">
         <property name="org.eclipse.core.runtime.bom"/>
         <property name="org.eclipse.core.runtime.charset"/>
      </content-type>
      <content-type
            id="de.walware.statet.r.contentTypes.Rd"
            base-type="org.eclipse.core.runtime.text"
            describer="de.walware.statet.r.core.rdoc.RdTextContentDescriber"
            name="%contentTypes.Rd.name"
            file-extensions="Rd"
            priority="normal">
         <property name="org.eclipse.core.runtime.charset"/>
      </content-type>
      <content-type
            id="de.walware.statet.r.contentTypes.RData"
            name="%contentTypes.RData.name"
            file-extensions="RData"
            priority="normal">
      </content-type>
      <content-type
            id="de.walware.statet.r.contentTypes.RTranscript"
            base-type="org.eclipse.core.runtime.text"
            name="%contentTypes.RTranscript.name"
            file-extensions="Rtr"
            priority="normal">
         <property name="org.eclipse.core.runtime.bom"/>
         <property name="org.eclipse.core.runtime.charset"/>
      </content-type>
   </extension>
   
   <extension
         id="de.walware.statet.r.markers.Tasks"
         name="%markers.Task.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         id="de.walware.statet.r.builders.RSupport"
         name="%builders.RInternalBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="de.walware.statet.r.internal.core.RSupportBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="R"
            type="text"/>
      <fileTypes
            extension="Rd"
            type="text"/>
      <fileTypes
            extension="RData"
            type="binary">
      </fileTypes>
      <fileTypes
            extension="Rtr"
            type="text">
      </fileTypes>
      <fileTypes
            extension="Rhistory"
            type="text">
      </fileTypes>
   </extension>
   
   <extension
         point="de.walware.ecommons.ltk.modelTypes">
      <modelType
            id="r">
      </modelType>
      <contentType
            contentTypeId="de.walware.statet.r.contentTypes.R"
            modelTypeId="r">
      </contentType>
      <unitType
            modelTypeId="r"
            contextKey="persistence.default"
            unitFactory="de.walware.statet.r.internal.core.RSourceUnitFactory">
      </unitType>
   </extension>
   <extension
         point="de.walware.ecommons.ltk.modelAdapters">
      <adapterFactory
            modelTypeId="r"
            class="de.walware.statet.r.internal.core.RModelAdapterFactory">
         <adapter
               type="de.walware.statet.r.core.rsource.RHeuristicTokenScanner">
         </adapter>
      </adapterFactory>
   </extension>
   
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            id="de.walware.statet.r.refactoring.RModelDeleteParticipant"
            class="de.walware.statet.r.internal.core.refactoring.RModelDeleteParticipant"
            name="%refactoring_RModelDeleteParticipant_name">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="de.walware.statet.r.RNature">
                  </equals>
               </iterate>
            </with>
         </enablement>
      </deleteParticipant>
   </extension>
   
</plugin>
