<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2005-2008 WalWare/StatET-Project (www.walware.de/goto/statet).
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>

   <extension-point id="de.walware.ecommons.ltk.contentTypeActivation" 
         name="Additional activation for content types"
         schema="schema/de.walware.ecommons.ltk.contentTypeActivation.exsd"/>

   <extension-point id="de.walware.ecommons.ltk.workingContexts"
         name="StatET Working Contexts"
         schema="schema/de.walware.ecommons.ltk.workingContexts.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.base.internal.core.BaseCorePreferenceInitializer"/>
   </extension>

   <extension
         id="de.walware.statet.base.StatetNature"
         name="StatET Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="de.walware.statet.base.core.StatetProject"/>
      </runtime>
   </extension>

</plugin>
