<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2007-2008 WalWare/StatET-Project (www.walware.de/goto/statet).
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.r.internal.sweave.SweavePreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="net.sourceforge.texlipse.contentTypes.Latex"
            file-extensions="Rnw,rnw,Snw,snw"
            id="de.walware.statet.r.contentTypes.RweaveTex"
            name="%contentTypes_RweaveTex_name"
            priority="normal">
         <property
               name="bom">
         </property>
      </content-type>
   </extension>
   <extension
         point="de.walware.statet.base.workingContexts">
      <unitType
            typeId="rweave-tex"
            unitFactory="de.walware.statet.r.internal.sweave.RweaveTexUnitFactory">
      </unitType>
   </extension>
   <extension
         point="de.walware.statet.base.contentTypeActivation">
      <activation
            primary="de.walware.statet.r.contentTypes.RweaveTex"
            secondary="de.walware.statet.r.contentTypes.R">
      </activation>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="Rnw"
            type="text">
      </fileTypes>
      <fileTypes
            extension="Snw"
            type="text">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="de.walware.statet.r.internal.sweave.editors.RweaveTexDocumentSetupParticipant"
            contentTypeId="de.walware.statet.r.contentTypes.RweaveTex"/>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.walware.statet.r.internal.sweave.editors.RweaveTexEditor"
            contributorClass="net.sourceforge.texlipse.editor.TexEditorActionContributor"
            default="true"
            icon="icons/obj_16/texsweave-file.png"
            id="de.walware.statet.r.editors.RweaveTex"
            name="%editors_RweaveTex_name">
         <contentTypeBinding contentTypeId="de.walware.statet.r.contentTypes.RweaveTex"/>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/default-doc-templates.xml"
            translations="templates/default-templates.properties">
      </include>
   </extension>

   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="de.walware.statet.base.contexts.EditSourceActionSet">
         <part
               id="de.walware.statet.r.editors.RweaveTex">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%contexts_RweaveSource_description"
            id="de.walware.statet.r.contexts.RweaveEditorScope"
            name="%contexts_RweaveSource_name"
            parentId="de.walware.statet.r.contexts.REditorScope">
      </context>
   </extension>

   <extension
         point="de.walware.statet.base.ui.codeGenerationTemplatesCategory">
      <category
            id="de.walware.statet.r.sweave.codegenerationCategory.RweaveTexCodeTemplates"
            name="%templatesCategory_RweaveTexCodeTemplates_name"
            providerClass="de.walware.statet.r.internal.sweave.RweaveTexTemplatesProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.walware.statet.base.newWizards.StatetCategory"
            class="de.walware.statet.r.internal.sweave.NewSweaveFileCreationWizard"
            icon="icons/tool_16/new_texsweave-file.png"
            id="de.walware.statet.r.newWizards.RweaveTexCreation"
            name="%wizards_NewRweaveTexFile_name"
            project="false">
         <description>
            %wizards_NewRweaveTexFile_description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.walware.statet"
            type="new"
            wizardId="de.walware.statet.r.newWizards.RweaveTexCreation">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.walware.statet.r.RNature">
                  </test>
               </adapt>
            </or></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="de.walware.statet.base.perspectives.StatetPerspective">
         <newWizardShortcut id="de.walware.statet.r.newWizards.RweaveTexCreation"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="de.walware.statet.r.ui.rCodeLaunchContentHandler">
      <contentHandler
            contentTypeId="de.walware.statet.r.contentTypes.RweaveTex"
            handler="de.walware.statet.r.internal.sweave.debug.RweaveContentHandler">
         <fileCommand
               defaultCommand="Sweave(&quot;${resource_loc}&quot;)">
         </fileCommand>
      </contentHandler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="de.walware.statet.r.other"
            class="de.walware.statet.r.internal.sweave.debug.RChunkDirectLaunchShortcut"
            icon="icons/tool_16/run-r-chunk.png"
            id="de.walware.statet.r.launchShortcuts.RChunkDirect"
            label="%launchShortcuts_RunRChunkDirect_label"
            modes="run"
            path="statet/r/3">
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="org.eclipse.ui.IEditorInput">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="de.walware.statet.base.matchesActivatedContentType"
                        value="de.walware.statet.r.contentTypes.RweaveTex">
                  </test>
               </iterate>
            </with>
         </enablement>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.ui.IEditorInput">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="de.walware.statet.base.matchesActivatedContentType"
                           value="de.walware.statet.r.contentTypes.RweaveTex">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%launchShortcuts_RunRChunkDirect_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            category="de.walware.statet.r.other"
            class="de.walware.statet.r.internal.sweave.debug.RChunkDirectAndConsoleLaunchShortcut"
            icon="icons/tool_16/run-r-chunk.png"
            id="de.walware.statet.r.launchShortcuts.RChunkDirectAndConsole"
            label="%launchShortcuts_RunRChunkDirectAndGotoConsole_label"
            modes="run"
            path="statet/r/3">
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="org.eclipse.ui.IEditorInput">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="de.walware.statet.base.matchesActivatedContentType"
                        value="de.walware.statet.r.contentTypes.RweaveTex">
                  </test>
               </iterate>
            </with>
         </enablement>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%categorys_Doc_description"
            id="de.walware.statet.doc.commandsCategory.EditDocumentation"
            name="%categorys_Doc_name">
      </category>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            id="de.walware.statet.r.launchShortcuts.RChunkDirect.run"
            name="%commands_RunRChunkDirect_name">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            id="de.walware.statet.r.launchShortcuts.RChunkDirectAndConsole.run"
            name="%commands_RunRChunkDirectAndGotoConsole_name">
      </command>
      <command
            categoryId="de.walware.statet.doc.commandsCategory.EditDocumentation"
            defaultHandler="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultCreationHandler$ProcessWeave"
            description="%commands_ProcessWeave_description"
            id="de.walware.statet.sweave.commands.ProcessWeaveDefault"
            name="%commands_ProcessWeave_name">
      </command>
      <command
            categoryId="de.walware.statet.doc.commandsCategory.EditDocumentation"
            defaultHandler="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultCreationHandler$ProcessTex"
            description="%commands_ProcessTex_description"
            id="de.walware.statet.sweave.commands.ProcessTexDefault"
            name="%commands_ProcessTex_name">
      </command>
      <command
            categoryId="de.walware.statet.doc.commandsCategory.EditDocumentation"
            defaultHandler="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultCreationHandler$ProcessDoc"
            description="%commands_ProcessDocument_description"
            id="de.walware.statet.doc.commands.ProcessDocDefault"
            name="%commands_ProcessDocument_name">
      </command>
      <command
            categoryId="de.walware.statet.doc.commandsCategory.EditDocumentation"
            defaultHandler="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultCreationHandler$PreviewDoc"
            description="%commands_PreviewDocument_description"
            id="de.walware.statet.doc.commands.PreviewDocDefault"
            name="%commands_PreviewDocument_name">
      </command>
      <command
            categoryId="de.walware.statet.doc.commandsCategory.EditDocumentation"
            defaultHandler="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultCreationHandler$ProcessAndPreview"
            description="%commands_ProcessAndPreview_description"
            id="de.walware.statet.doc.commands.ProcessAndPreviewDefault"
            name="%commands_ProcessAndPreview_name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.walware.statet.r.launchShortcuts.RChunkDirect.run"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R M1+W">
      </key>
      <key
            commandId="de.walware.statet.r.launchShortcuts.RChunkDirectAndConsole.run"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R W">
      </key>
      <key
            commandId="de.walware.statet.sweave.commands.ProcessWeaveDefault"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 2">
      </key>
      <key
            commandId="de.walware.statet.sweave.commands.ProcessTexDefault"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 3">
      </key>
      <key
            commandId="de.walware.statet.doc.commands.PreviewDocDefault"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 4">
      </key>
      <key
            commandId="de.walware.statet.doc.commands.ProcessDocDefault"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 9">
      </key>
      <key
            commandId="de.walware.statet.doc.commands.ProcessAndPreviewDefault"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 0">
      </key>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="de.walware.statet.r.internal.sweave.processing.RweaveTexCreationDelegate"
            id="de.walware.statet.r.launchConfigurationTypes.RweaveTexCreation"
            modes="run"
            name="%launchConfigurations.RweaveTexCreation_name"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            id="de.walware.statet.r.images.RweaveTexCreation"
            configTypeID="de.walware.statet.r.launchConfigurationTypes.RweaveTexCreation"
            icon="icons/obj_16/texsweave-file.png">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.walware.statet.r.internal.sweave.processing.RweaveTexCreationTabGroup"
            description="%launchConfigurations.RweaveTexCreation_description"
            id="de.walware.statet.r.launchConfigurationTabGroups.RweaveTexCreation"
            type="de.walware.statet.r.launchConfigurationTypes.RweaveTexCreation"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=org.eclipse.ui.workbench.navigate">
         <toolbar
               id="de.walware.statet.doc.menus.DocTools">
            <separator
                  name="processing"
                  visible="false">
            </separator>
            <command
                  commandId="de.walware.statet.doc.commands.ProcessDocDefault"
                  icon="icons/tool_16/build.png"
                  id="de.walware.statet.doc.menus.ProcessDoc"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.walware.statet.r.editors.RweaveTex">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.walware.statet.doc.commands.PreviewDocDefault"
                  icon="icons/tool_16/preview.png"
                  id="de.walware.statet.doc.menus.PreviewDoc"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.walware.statet.r.editors.RweaveTex">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.walware.statet.doc.commands.ProcessAndPreviewDefault"
                  icon="icons/tool_16/build_and_preview.png"
                  id="de.walware.statet.doc.menus.ProcessAndPreview"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.walware.statet.r.editors.RweaveTex">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.walware.statet.doc.menus.ProcessWeave">
         <dynamic
               class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfilesDropdownContribution"
               id="de.walware.statet.doc.commands.ProcessDocList">
         </dynamic>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.walware.statet.doc.menus.ProcessDoc">
         <dynamic
               class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfilesDropdownContribution$ProcessDoc"
               id="de.walware.statet.doc.commands.ProcessDocList">
         </dynamic>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="de.walware.statet.doc.menus.MainDoc"
               label="Document"
               mnemonic="D">
            <separator
                  name="processing">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="de.walware.statet.r.editors.RweaveTex">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.walware.statet.doc.menus.MainDoc?after=processing">
         <dynamic
               class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfilesMenuContribution"
               id="de.walware.statet.doc.commands.ProcessDocList">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="de.walware.statet.r.cheatSheetCategories.R"
            composite="false"
            contentFile="cheatSheets/sweave-configure_document_building.xml"
            id="de.walware.statet.r.cheatSheetContent.SweaveConfigCreation"
            name="Configure Sweave Document Building">
      </cheatsheet>
   </extension>

</plugin>
