<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 #=============================================================================#
 # Copyright (c) 2007-2014 Stephan Wahlbrink (WalWare.de) and others.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 #=============================================================================#
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.r.internal.sweave.SweavePreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="de.walware.statet.r.contentTypes.LtxRweave"
            base-type="net.sourceforge.texlipse.contentTypes.Latex"
            name="%contentTypes_RweaveTex_name"
            file-extensions="Rnw,rnw,Snw,snw"
            priority="normal">
         <property
               name="bom">
         </property>
      </content-type>
   </extension>
   <extension
         point="de.walware.ecommons.ltk.contentTypeActivation">
      <contentType
            id="de.walware.statet.r.contentTypes.LtxRweave"
            secondaryId="de.walware.statet.r.contentTypes.R">
      </contentType>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="Rnw"
            type="text">
      </fileTypes>
      <fileTypes
            extension="Snw"
            type="text">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            contentTypeId="de.walware.statet.r.contentTypes.LtxRweave"
            class="de.walware.statet.r.internal.sweave.editors.LtxRweaveDocumentSetupParticipant">
      </participant>
   </extension>
   
   <extension
         point="de.walware.ecommons.ltk.modelTypes">
      <modelType
            id="ltx-rweave">
         <baseType modelTypeId="ltx"/>
         <secondaryType modelTypeId="r"/>
      </modelType>
      <contentType
            contentTypeId="de.walware.statet.r.contentTypes.LtxRweave"
            modelTypeId="ltx-rweave">
      </contentType>
      <unitType modelTypeId="ltx-rweave"
            contextKey="persistence.default"
            unitFactory="de.walware.statet.r.internal.sweave.LtxRweavePersistenceUnitFactory">
      </unitType>
      <unitType modelTypeId="ltx-rweave"
            contextKey="editor.default"
            unitFactory="de.walware.statet.r.internal.sweave.LtxRweaveEditorUnitFactory">
      </unitType>
   </extension>
   <extension
         point="de.walware.ecommons.ltk.modelAdapters">
      <adapterFactory
            modelTypeId="ltx-rweave"
            class="de.walware.statet.r.internal.sweave.LtxRweaveAdapterFactory">
         <adapter
               type="de.walware.statet.r.core.rsource.RHeuristicTokenScanner">
         </adapter>
         <adapter
               type="de.walware.docmlet.tex.core.source.LtxHeuristicTokenScanner">
         </adapter>
         <adapter
               type="de.walware.docmlet.tex.core.TexBuildParticipant">
         </adapter>
      </adapterFactory>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="de.walware.statet.r.editors.LtxRweave"
            class="de.walware.statet.r.internal.sweave.editors.LtxRweaveEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            icon="icons/obj_16/texsweave-file.png"
            name="%editors_RweaveTex_name">
         <contentTypeBinding contentTypeId="de.walware.statet.r.contentTypes.LtxRweave"/>
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/default-doc-templates.xml"
            translations="templates/default-templates.properties">
      </include>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="de.walware.ecommons.ltk.contexts.EditSourceActionSet">
         <part
               id="de.walware.statet.r.editors.LtxRweave">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.walware.statet.r.contexts.RweaveEditorScope"
            parentId="de.walware.statet.r.contexts.REditor"
            name="%contexts_RweaveSource_name"
            description="%contexts_RweaveSource_description">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
            class="de.walware.statet.r.internal.sweave.editors.SweaveToggleMarkOccurrencesHandler">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.text.folding.toggle"
            class="de.walware.docmlet.tex.ui.actions.TexToggleFoldingHandler">
         <activeWhen>
            <with variable="activePartId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
      
      <!-- navigate -->
      <handler
            commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
            class="de.walware.statet.r.internal.sweave.editors.LtxRweaveOpenDeclarationHandler">
         <activeWhen>
            <with variable="activePartId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
      
      <!-- search -->
      <handler
            commandId="de.walware.ecommons.ltk.commands.SearchAllElementAccess"
            class="de.walware.statet.r.internal.sweave.editors.ltx.ElementSearchHandler">
         <activeWhen>
            <with variable="activePartId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="de.walware.ecommons.ltk.commands.SearchWriteElementAccess"
            class="de.walware.statet.r.internal.sweave.editors.ltx.ElementSearchHandler">
         <activeWhen>
            <with variable="activePartId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <!-- navigate -->
      <menuContribution
            locationURI="menu:navigate?after=open.ext">
         <command
               commandId="org.eclipse.ui.edit.text.open.hyperlink"
               mnemonic="%menus_Navigate_OpenHyperlink_mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with variable="activePartId">
                  <equals
                        value="de.walware.statet.r.editors.LtxRweave">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <!-- search -->
      <menuContribution
            locationURI="menu:org.eclipse.search.menu?endof=contextMenuActionsGroup">
         <menu
               id="de.walware.statet.r.menus.SweaveSearchAllAccess"
               label="%menus_Search_AllAccess_name"
               mnemonic="%menus_Search_AllAccess_mnemonic">
            <dynamic
                  id="de.walware.ecommons.ltk.commands.SearchAllElementAccess"
                  class="de.walware.statet.r.internal.sweave.editors.ltx.ElementSearchContributionItem">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="de.walware.statet.r.editors.LtxRweave">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="de.walware.statet.r.menus.SweaveSearchWriteAccess"
               label="%menus_Search_WriteAccess_name"
               mnemonic="%menus_Search_WriteAccess_mnemonic">
            <dynamic
                  id="de.walware.ecommons.ltk.commands.SearchWriteElementAccess"
                  class="de.walware.statet.r.internal.sweave.editors.ltx.ElementSearchContributionItem">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="de.walware.statet.r.editors.LtxRweave">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      
      <!-- context -->
      <menuContribution
            locationURI="popup:de.walware.statet.r.sweave.menus.LtxRweaveEditorContextMenu?after=group.edit">
         <command
               commandId="de.walware.ecommons.ltk.commands.ToggleComment"
               id="de.walware.ecommons.ltk.commands.ToggleComment"
               mnemonic="%menus_SweaveEditorContext_ToggleComment_mnemonic"
               style="push">
         </command>
         <!--command
               commandId="de.walware.ecommons.ltk.commands.CorrectIndent"
               id="de.walware.ecommons.ltk.commands.CorrectIndent"
               mnemonic="%menus_REditorContext_CorrectIndent_mnemonic"
               style="push">
         </command-->
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="de.walware.statet.r.legacy.RweaveTexEditorRulerMenuCommonContribution"
            targetID="de.walware.statet.r.sweave.menus.LtxRweaveEditorRulerMenu">
         <action
               id=".AddTask"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               label="AddTask"
               menubarPath="add"
               helpContextId="org.eclipse.ui.AddTask_action_context">
         </action>
         <action
               id=".AddBookmark"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               label="AddBookmark"
               menubarPath="add"
               helpContextId="org.eclipse.ui.bookmark_action_context">
         </action>
      </viewerContribution>
   </extension>
   
   <extension
         point="de.walware.statet.base.ui.codeGenerationTemplatesCategory">
      <category
            id="de.walware.statet.r.sweave.codegenerationCategory.RweaveTexCodeTemplates"
            name="%templatesCategory_RweaveTexCodeTemplates_name"
            providerClass="de.walware.statet.r.internal.sweave.LtxRweaveTemplatesProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            id="de.walware.statet.r.newWizards.RweaveTexCreation"
            category="de.walware.statet.r.newWizards.RCategory"
            class="de.walware.statet.r.internal.sweave.NewSweaveFileCreationWizard"
            icon="icons/tool_16/new-ltxrweave_file.png"
            name="%wizards_NewRweaveTexFile_name"
            project="false">
         <description>
            %wizards_NewRweaveTexFile_description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.walware.statet"
            type="new"
            wizardId="de.walware.statet.r.newWizards.RweaveTexCreation">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="de.walware.statet.r.RNature">
                  </test>
               </adapt>
            </or></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="de.walware.statet.base.perspectives.StatetPerspective">
         <newWizardShortcut id="de.walware.statet.r.newWizards.RweaveTexCreation"/>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.compare.contentViewers">
      <viewer
            id="de.walware.statet.r.compare.RweaveTexContentViewer"
            class="de.walware.statet.r.internal.sweave.editors.LtxRweaveContentViewerCreator">
      </viewer>
      <contentTypeBinding
            contentViewerId="de.walware.statet.r.compare.RweaveTexContentViewer"
            contentTypeId="de.walware.statet.r.contentTypes.LtxRweave">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            id="de.walware.statet.r.compare.LtxRweaveMergeViewer"
            class="de.walware.statet.r.internal.sweave.editors.LtxRweaveMergeViewerCreator">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="de.walware.statet.r.compare.LtxRweaveMergeViewer"
            contentTypeId="de.walware.statet.r.contentTypes.LtxRweave">
      </contentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.walware.statet.r.preferencePages.SweaveEditor"
            category="de.walware.statet.base.preferencePages.Editors"
            name="%preferencePages_SweaveEditorOptions"
            class="de.walware.statet.r.internal.sweave.ui.preferences.SweaveEditorPreferencePage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceEditor"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceAppearance"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SpellChecking"/>
      </page>
      <page
            id="de.walware.statet.r.preferencePages.SweaveDocTemplates"
            category="de.walware.statet.base.preferencePages.CodeGenerationTemplates"
            name="%preferencePages_SweaveDocTemplates"
            class="de.walware.statet.r.internal.sweave.ui.preferences.SweaveDocTemplatesPreferencePage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceTemplates"/>
      </page>
   </extension>
   
   <extension
         point="de.walware.statet.r.ui.rCodeLaunchContentHandler">
      <contentHandler
            contentTypeId="de.walware.statet.r.contentTypes.LtxRweave"
            handler="de.walware.statet.r.internal.sweave.debug.RweaveContentHandler">
         <fileCommand
               defaultCommand="Sweave(&quot;${resource_loc}&quot;)"
               id="de.walware.statet.r.rFileCommand.SweaveRweaveTexDoc"
               name="%rCodeLaunchHandler_SweaveRweaveTexDoc_label">
         </fileCommand>
      </contentHandler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            id="de.walware.statet.r.launchShortcuts.RChunkDirect"
            category="de.walware.statet.r.other"
            modes="run"
            class="de.walware.statet.r.internal.sweave.debug.SubmitRChunkDirectLaunchShortcut"
            label="%launchShortcuts_RunRChunkDirect_label"
            icon="icons/tool_16/run-r-chunk.png"
            path="statet/r/3">
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="org.eclipse.ui.IEditorInput">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="de.walware.ecommons.ltk.matchesActivatedContentType"
                        value="de.walware.statet.r.contentTypes.LtxRweave">
                  </test>
               </iterate>
            </with>
         </enablement>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.ui.IEditorInput">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="de.walware.ecommons.ltk.matchesActivatedContentType"
                           value="de.walware.statet.r.contentTypes.LtxRweave">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%launchShortcuts_RunRChunkDirect_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            id="de.walware.statet.r.launchShortcuts.RChunkDirectAndConsole"
            category="de.walware.statet.r.other"
            modes="run"
            class="de.walware.statet.r.internal.sweave.debug.SubmitRChunkDirectAndConsoleLaunchShortcut"
            label="%launchShortcuts_RunRChunkDirectAndGotoConsole_label"
            icon="icons/tool_16/run-r-chunk.png"
            path="statet/r/3">
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="org.eclipse.ui.IEditorInput">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="de.walware.ecommons.ltk.matchesActivatedContentType"
                        value="de.walware.statet.r.contentTypes.LtxRweave">
                  </test>
               </iterate>
            </with>
         </enablement>
      </shortcut>
      <shortcut
            id="de.walware.statet.r.launchShortcuts.SweaveRweaveTexDoc"
            category="de.walware.statet.r.basic"
            modes="run"
            class="de.walware.statet.r.internal.sweave.debug.RweaveTexViaSweaveLaunchShortcut"
            label="%launchShortcuts_RunRweaveTexDocViaSweave"
            icon="icons/tool_16/run-sweave.png"
            path="statet/r/5">
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="de.walware.ecommons.ltk.matchesActivatedContentType"
                           value="de.walware.statet.r.contentTypes.LtxRweave">
                     </test>
                  </or>
               </iterate>
            </with>
         </enablement>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="de.walware.ecommons.ltk.matchesActivatedContentType"
                           value="de.walware.statet.r.contentTypes.LtxRweave">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%launchShortcuts_RunRweaveTexDocViaSweave"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.walware.statet.r.launchShortcuts.RChunkDirect.run"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_RunRChunkDirect_name">
      </command>
      <command
            id="de.walware.statet.r.launchShortcuts.RChunkDirectAndConsole.run"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_RunRChunkDirectAndGotoConsole_name">
      </command>
      <command
            id="de.walware.statet.sweave.commands.ProcessWeaveDefault"
            categoryId="de.walware.docmlet.base.commands.EditDocsCategory"
            name="%commands_ProcessWeave_name"
            description="%commands_ProcessWeave_description"
            defaultHandler="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultHandler$ProcessWeave">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.walware.docmlet.tex.commands.ProcessTexDefault"
            class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultHandler$ProcessTex">
         <activeWhen>
            <with variable="activeEditorId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="de.walware.docmlet.base.commands.ProcessDocDefault"
            class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultHandler$ProcessDoc">
         <activeWhen>
            <with variable="activeEditorId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="de.walware.docmlet.base.commands.PreviewDocDefault"
            class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultHandler$PreviewDoc">
         <activeWhen>
            <with variable="activeEditorId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="de.walware.docmlet.base.commands.ProcessAndPreviewDefault"
            class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileDefaultHandler$ProcessAndPreview">
         <activeWhen>
            <with variable="activeEditorId">
               <equals
                     value="de.walware.statet.r.editors.LtxRweave">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.walware.statet.r.launchShortcuts.RChunkDirect.run"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R M1+W">
      </key>
      <key
            commandId="de.walware.statet.r.launchShortcuts.RChunkDirectAndConsole.run"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R W">
      </key>
      <key
            commandId="de.walware.statet.sweave.commands.ProcessWeaveDefault"
            contextId="de.walware.statet.r.contexts.RweaveEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 2">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="de.walware.statet.r.launchConfigurationTypes.RweaveTexCreation"
            category="org.eclipse.ui.externaltools"
            modes="run"
            delegate="de.walware.statet.r.internal.sweave.processing.RweaveTexLaunchDelegate"
            name="%launchConfigurations_RweaveTexProcessing_name"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            id="de.walware.statet.r.images.RweaveTexProcessing"
            configTypeID="de.walware.statet.r.launchConfigurationTypes.RweaveTexCreation"
            icon="icons/obj_16/texsweave-file.png">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            id="de.walware.statet.r.launchConfigurationTabGroups.RweaveTexProcessing"
            type="de.walware.statet.r.launchConfigurationTypes.RweaveTexCreation"
            class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfileTabGroup"
            description="%launchConfigurations_RweaveTexProcessing_description">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=org.eclipse.ui.workbench.navigate">
         <toolbar
               id="de.walware.statet.doc.menus.DocTools">
            <separator
                  name="processing"
                  visible="false">
            </separator>
            <command
                  id="de.walware.statet.doc.menus.ProcessDoc"
                  commandId="de.walware.docmlet.base.commands.ProcessDocDefault"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.walware.statet.r.editors.LtxRweave">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  id="de.walware.statet.doc.menus.PreviewDoc"
                  commandId="de.walware.docmlet.base.commands.PreviewDocDefault"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.walware.statet.r.editors.LtxRweave">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  id="de.walware.statet.doc.menus.ProcessAndPreview"
                  commandId="de.walware.docmlet.base.commands.ProcessAndPreviewDefault"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.walware.statet.r.editors.LtxRweave">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.walware.statet.doc.menus.ProcessWeave">
         <dynamic
               id="de.walware.statet.doc.commands.ProcessDocList"
               class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfilesDropdownContribution">
         </dynamic>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.walware.statet.doc.menus.ProcessDoc">
         <dynamic
               id="de.walware.statet.doc.commands.ProcessDocList"
               class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfilesDropdownContribution$ProcessDoc">
         </dynamic>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="de.walware.statet.doc.menus.MainDoc"
               label="Document"
               mnemonic="D">
            <separator
                  name="processing">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="de.walware.statet.r.editors.LtxRweave">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.walware.statet.doc.menus.MainDoc?after=processing">
         <dynamic
               id="de.walware.statet.doc.commands.ProcessDocList"
               class="de.walware.statet.r.internal.sweave.processing.RweaveTexProfilesMenuContribution">
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
