<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 ###############################################################################
 # Copyright (c) 2006-2013 WalWare/StatET-Project (www.walware.de/goto/statet).
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>
   
   <extension-point id="de.walware.statet.nico.uiDecorators" name="NiCo UI Extensions" schema="schema/uiDecorators.exsd"/>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.nico.internal.ui.preferences.ConsolePreferences"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            id="de.walware.statet.nico.views.HistoryView"
            category="de.walware.statet.base.views.StatetCategory"
            allowMultiple="false"
            class="de.walware.statet.nico.ui.views.HistoryView"
            icon="icons/view_16/history.png"
            name="%views_History_name"/>
      <view
           id="de.walware.statet.nico.views.QueueView"
           category="de.walware.statet.base.views.StatetCategory"
           allowMultiple="false"
           class="de.walware.statet.nico.ui.views.QueueView"
           icon="icons/view_16/queue.png"
           name="%views_Queue_name"/>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.walware.statet.base.contexts.ConsoleEditor"
            parentId="de.walware.ecommons.text.contexts.TextEditor"
            name="%contexts_ConsoleEditorScope_name"
            description="%contexts_ConsoleEditorScope_description">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.walware.statet.nico.commands.CancelCurrent"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_CancelCurrent_name">
      </command>
      <command
            id="de.walware.statet.nico.commands.CancelCurrentAndPause"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_CancelCurrentAndPause_name">
      </command>
      <command
            id="de.walware.statet.nico.commands.CancelAll"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_CancelAll_name">
      </command>
      <command
            id="de.walware.statet.nico.commands.PauseEngine"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_PauseEngine_name">
      </command>
      <command
            id="de.walware.statet.nico.commands.DisconnectEngine"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_DisconnectEngine_name"
            description="%commands_DisconnectEngine_description">
      </command>
      <command
            id="de.walware.statet.nico.commands.ReconnectEngine"
            categoryId="org.eclipse.debug.ui.category.run"
            name="%commands_ReconnectEngine_name"
            description="%commands_ReconnectEngine_description">
      </command>
      
      <command
            id="de.walware.statet.nico.commands.SearchHistoryOlder"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_SearchHistoryOlder_name"
            description="%commands_SearchHistoryOlder_description">
      </command>
      <command
            id="de.walware.statet.nico.commands.SearchHistoryNewer"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_SearchHistoryNewer_name"
            description="%commands_SearchHistoryNewer_description">
      </command>
      <command
            id="de.walware.statet.nico.commands.GotoHistoryNewest"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_GotoHistoryNewest_name"
            description="%commands_GotoHistoryNewest_description">
      </command>
      
      <category
            id="de.walware.statet.nico.commands.ConsoleCategory"
            name="%commands_ConsoleCategory_name">
      </category>
      <command
            id="de.walware.statet.nico.commands.ClearOutput"
            categoryId="de.walware.statet.nico.commands.ConsoleCategory"
            name="%commands_ClearOutput_name"
            description="%commands_ClearOutput_description"
            helpContextId="org.eclipse.ui.console.clear_console_action_context"
            defaultHandler="de.walware.statet.nico.internal.ui.ClearOutputHandler">
      </command>
      <command
            id="de.walware.statet.nico.commands.AdjustOutputWidth"
            categoryId="de.walware.statet.nico.commands.ConsoleCategory"
            name="%commands_AdjustOutputWidth_name"
            description="%commands_AdjustOutputWidth_description">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.walware.statet.nico.commands.CancelCurrent"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="BREAK"/>
      <key
            commandId="de.walware.statet.nico.commands.CancelCurrent"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+BREAK"/>
      <key
            commandId="de.walware.statet.nico.commands.SearchHistoryOlder"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+ARROW_UP">
      </key>
      <key
            commandId="de.walware.statet.nico.commands.SearchHistoryNewer"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+ARROW_DOWN">
      </key>
      <key
            commandId="de.walware.statet.nico.commands.GotoHistoryNewest"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+END">
      </key>
      
      <key
            commandId="de.walware.statet.nico.commands.ClearOutput"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L">
      </key>
      <key
            commandId="de.walware.statet.nico.commands.ClearOutput"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R L">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:de.walware.statet.nico.menus.Cancel">
         <command
               commandId="de.walware.statet.nico.commands.CancelCurrent"
               style="push">
         </command>
         <command
               commandId="de.walware.statet.nico.commands.CancelCurrentAndPause"
               style="push">
         </command>
         <command
               commandId="de.walware.statet.nico.commands.CancelAll"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.walware.statet.nico.commands.CancelCurrent"
            icon="icons/loctool_16/cancel.png"
            disabledIcon="icons/loctool_16_d/cancel.png">
      </image>
      <image
            commandId="de.walware.statet.nico.commands.PauseEngine"
            icon="icons/loctool_16/pause.png"
            disabledIcon="icons/loctool_16_d/pause.png">
      </image>
      <image
            commandId="de.walware.statet.nico.commands.ClearOutput"
            icon="icons/tool_16/clear_output.gif"
            disabledIcon="icons/tool_16_d/clear_output.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.walware.statet.nico.internal.ui.ToolSourceProvider">
         <variable
               name="de.walware.statet.activeTool"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page id="de.walware.statet.nico.preferencePages.ResourceMappings"
            category="de.walware.statet.base.preferencePages.RunDebug"
            class="de.walware.statet.nico.internal.ui.preferences.ResourceMappingPreferencePage"
            name="%preferencePages_ResourceMappings_name">
      </page>
      <page id="de.walware.statet.nico.preferencePages.Console"
            category="de.walware.statet.base.preferencePages.RunDebug"
            class="de.walware.statet.nico.internal.ui.preferences.ConsolePreferencePage"
            name="%preferencePages_Console_name">
      </page>
   </extension>
   <extension
         point="de.walware.statet.nico.uiDecorators">
      <runnable
            typeId="common/console/input"
            icon="icons/obj_16/task-consolecommand.png">
      </runnable>
      <runnable
            icon="icons/obj_16/task-barrier-suspended.png"
            typeId="common/debug/suspended.insert">
      </runnable>
      <runnable
            typeId="common/quit"
            icon="icons/loctool_16/terminate.png">
      </runnable>
   </extension>

</plugin>
