<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2006-2007 WalWare/StatET-Project (www.walware.de/goto/statet).
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 #
 # Contributors:
 #    Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.nico.internal.ui.preferences.NicoUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="de.walware.statet.base.views.StatetCategory"
            class="de.walware.statet.nico.ui.views.HistoryView"
            icon="icons/view_16/history.png"
            id="de.walware.statet.nico.views.HistoryView"
            name="%views_History_name"/>
      <view
           allowMultiple="true"
           category="de.walware.statet.base.views.StatetCategory"
           class="de.walware.statet.nico.ui.views.QueueView"
           icon="icons/view_16/queue.png"
           id="de.walware.statet.nico.views.QueueView"
           name="%views_Queue_name"/>

   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.walware.statet.nico.core.runtime.ToolController$ConsoleCommandRunnable"
            class="de.walware.statet.nico.internal.ui.CommandRunnableAdapterFactory">
         <adapter type="de.walware.statet.nico.ui.IToolRunnableAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%contexts.ConsoleEditorScope.description"
            id="de.walware.statet.base.contexts.ConsoleEditor"
            name="%contexts.ConsoleEditorScope.name"
            parentId="de.walware.statet.base.contexts.TextEditor">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            id="de.walware.statet.nico.commands.CancelCurrent"
            name="%commands_CancelCurrent_name">
      </command>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            id="de.walware.statet.nico.commands.CancelCurrentAndPause"
            name="%commands_CancelCurrentAndPause_name">
      </command>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            id="de.walware.statet.nico.commands.CancelAll"
            name="%commands_CancelAll_name">
      </command>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            description="%commands_SearchHistoryOlder_description"
            id="de.walware.statet.nico.commands.SearchHistoryOlder"
            name="%commands_SearchHistoryOlder_name">
      </command>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            description="%commands_SearchHistoryNewer_description"
            id="de.walware.statet.nico.commands.SearchHistoryNewer"
            name="%commands_SearchHistoryNewer_name">
      </command>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            description="%commands_GotoHistoryNewest_description"
            id="de.walware.statet.nico.commands.GotoHistoryNewest"
            name="%commands_GotoHistoryNewest_name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.walware.statet.nico.commands.CancelCurrent"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="BREAK"/>
      <key
            commandId="de.walware.statet.nico.commands.CancelCurrent"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+BREAK"/>
      <key
            commandId="de.walware.statet.nico.commands.SearchHistoryOlder"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+ARROW_UP">
      </key>
      <key
            commandId="de.walware.statet.nico.commands.SearchHistoryNewer"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+ARROW_DOWN">
      </key>
      <key
            commandId="de.walware.statet.nico.commands.GotoHistoryNewest"
            contextId="de.walware.statet.base.contexts.ConsoleEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+END">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:de.walware.statet.nico.menus.Cancel">
         <command
               commandId="de.walware.statet.nico.commands.CancelCurrent"
               style="push">
         </command>
         <command
               commandId="de.walware.statet.nico.commands.CancelCurrentAndPause"
               style="push">
         </command>
         <command
               commandId="de.walware.statet.nico.commands.CancelAll"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.walware.statet.base.perspectives.StatetPerspective">
         <viewShortcut
               id="de.walware.statet.nico.views.HistoryView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.walware.statet.nico.commands.CancelCurrent"
            icon="icons/loctool_16/cancel.png">
      </image>
   </extension>

</plugin>
