<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="all">
	<locations>
		<location includeAllPlatforms="true" includeMode="slicer" includeSource="false"
				type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/indigo"/>
			<unit id="org.eclipse.platform.feature.group"
					version="3.7.1.r37x_v20110729-9gF7UHOxFtniV7mI3T556iZN9AU8bEZ1lHMcVK"/>
			<unit id="org.eclipse.jdt.feature.group"
					version="3.7.1.r371_v20110810-0800-7z8gFcoFMLfTabvKsR5Qm9rBGEBK"/>
		</location>
	</locations>
</target>
