<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="all">
	<locations>
		<location includeAllPlatforms="true" includeMode="slicer" includeSource="false"
				type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
			<unit id="org.eclipse.platform.feature.group"
					version="3.8.0.v20120607-071945-9gF7jI7nG5qByXMVdkhRMWBQlF4PnDCLybDCPQ"/>
			<unit id="org.eclipse.jdt.feature.group"
					version="3.8.0.v20120525-1249-8-8nFqlFNOfwKDRGz-pXJdG0GW83"/>
		</location>
	</locations>
</target>
