<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="all" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeMode="planner" includeConfigurePhase="false" includeSource="false"
				type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
			<unit id="org.eclipse.platform.feature.group"
					version="4.2.1.v20130118-173121-9MF7GHYdG0B5kx4E_SkfZV-1mNjVATf67ZAb7"/>
			<unit id="org.eclipse.jdt.feature.group"
					version="3.8.2.v20130116-090414-8-8nFu3FNOfwKLRuqgXKIy9z0I83"/>
		</location>
		<location includeAllPlatforms="false" includeMode="planner" includeConfigurePhase="false" includeSource="false"
				type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/emf/emf/updates/"/>
			<unit id="org.eclipse.emf.common.feature.group"
					version="2.8.0.v20130125-0546"/>
			<unit id="org.eclipse.emf.common.ui.feature.group"
					version="2.7.0.v20130125-0826"/>
			<unit id="org.eclipse.emf.ecore.feature.group"
					version="2.8.3.v20130125-0546"/>
			<unit id="org.eclipse.emf.edit.feature.group"
					version="2.8.0.v20130125-0826"/>
			<unit id="org.eclipse.emf.edit.ui.feature.group"
					version="2.8.0.v20130125-0826"/>
			<unit id="org.eclipse.emf.databinding.feature.group"
					version="1.2.0.v20130125-0826"/>
			<unit id="org.eclipse.emf.databinding.edit.feature.group"
					version="1.2.1.v20130125-0826"/>
		</location>
	</locations>
</target>
