<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2005-2007 WalWare/StatET-Project (www.walware.de/goto/statet).
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>
   <extension-point id="codeGenerationTemplatesCategory" name="Adds a new category of templates to the StatET dialog for editing code-templates" schema="schema/codeGenerationTemplatesCategory.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.base.internal.ui.StatetUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.walware.statet.base.internal.ui.StatetPerspectiveFactory"
            icon="icons/view_16/statet_perspective.gif"
            id="de.walware.statet.base.perspectives.StatetPerspective"
            name="%perspectives.StatetPerspective.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%contexts.TextEditorScope.description"
            id="de.walware.statet.base.contexts.TextEditor"
            name="%contexts.TextEditorScope.name"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.walware.statet.base.contexts.EditSourceActionSet"
            label="StatET Source Editing">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.walware.statet.base.expressions.EditSourceActionSet">
              <with variable="activeContexts">
                 <iterate
                       operator="or">
                    <equals value="de.walware.statet.base.contexts.EditSourceActionSet">
                    </equals>
                 </iterate>
              </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%categorys.StatetSource.description"
            id="de.walware.statet.base.commandCategorys.StatetSource"
            name="%categorys.StatetSource.name"/>
      <!-- edit -->
      <command
      		id="de.walware.statet.base.commands.SelectExpandEnclosing"
            name="%commands.SelectEnclosing.name"
            description="%commands.SelectEnclosing.description"
            categoryId="org.eclipse.ui.category.edit">
      </command>
      <command
      		id="de.walware.statet.base.commands.SelectExpandNext"
            name="%commands.SelectNext.name"
            description="%commands.SelectNext.description"
            categoryId="org.eclipse.ui.category.edit">
      </command>
      <command
      		id="de.walware.statet.base.commands.SelectExpandPrevious"
            name="%commands.SelectPrevious.name"
            description="%commands.SelectPrevious.description"
            categoryId="org.eclipse.ui.category.edit">
      </command>
      <command
      		id="de.walware.statet.base.commands.SelectLast"
            name="%commands.SelectLast.name"
            description="%commands.SelectLast.description"
            categoryId="org.eclipse.ui.category.edit">
      </command>
      <!-- navigate -->
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%commands.GotoMatchingBracket.description"
            id="de.walware.statet.base.commands.GotoMatchingBracket"
            name="%commands.GotoMatchingBracket.name"/>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            description="%commands.ToggleComment.description"
            id="de.walware.statet.base.commands.ToggleComment"
            name="%commands.ToggleComment.name"/>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            description="%commands.InsertAssignment.description"
            id="de.walware.statet.base.commands.InsertAssignment"
            name="%commands.InsertAssignment.name"/>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            description="%commands.AddDocComment.description"
            id="de.walware.statet.base.commands.AddDocComment"
            name="%commands.AddDocComment.name"/>
      <command
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            description="%commands.CorrectIndent.description"
            id="de.walware.statet.base.commands.CorrectIndent"
            name="%commands.CorrectIndent.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         
      <key
            commandId="de.walware.statet.base.commands.SelectExpandEnclosing"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_UP"/>
      <key
            commandId="de.walware.statet.base.commands.SelectExpandNext"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_RIGHT"/>
      <key
            commandId="de.walware.statet.base.commands.SelectExpandPrevious"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_LEFT"/>
      <key
            commandId="de.walware.statet.base.commands.SelectLast"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_DOWN"/>

      <key
            commandId="de.walware.statet.base.commands.GotoMatchingBracket"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P"/>
            
      <key
            commandId="de.walware.statet.base.commands.ToggleComment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>
      <key
            commandId="de.walware.statet.base.commands.InsertAssignment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+&lt;"/>
      <key
            commandId="de.walware.statet.base.commands.InsertAssignment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+="/>
      <key
            commandId="de.walware.statet.base.commands.AddDocComment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+#"/>
      <key
            commandId="de.walware.statet.base.commands.AddDocComment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+/"/>
      <key
            commandId="de.walware.statet.base.commands.CorrectIndent"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.walware.statet.base.internal.ui.preferences.StatetBasePreferencePage"
            id="de.walware.statet.base.preferencePages.StatetBase"
            name="%preferencePages.StatetBase.name">
         <keywordReference id="de.walware.statet.base.keywords.StatetGeneral"/>
      </page>
      <page
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.EditorsPreferencePage"
            id="de.walware.statet.base.preferencePages.Editors"
            name="%preferencePages.Editors.name">
         <keywordReference id="de.walware.statet.base.keywords.Appearance"/>
         <keywordReference id="de.walware.statet.base.keywords.Editor"/>
      </page>
      <page
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.CodeGenerationTemplatesPreferencePage"
            id="de.walware.statet.base.preferencePages.CodeGenerationTemplates"
            name="%preferencePages.CodeGenerationTemplates.name">
         <keywordReference id="de.walware.statet.base.keywords.Template"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
      <page
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.TaskTagsPreferencePage"
            id="de.walware.statet.base.ui.preferencePages.TaskTags"
            name="%preferencePages.TaskTags.name">
         <keywordReference id="de.walware.statet.base.keywords.TaskTag"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.walware.statet.base.internal.ui.preferences.CodeGenerationTemplatesPreferencePage"
            id="de.walware.statet.base.propertyPages.CodeGenerationTemplates"
            name="%propertyPages.CodeGenerationTemplates.name"
            >
         <enabledWhen>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter
               name="nature"
               value="de.walware.statet.base.StatetNature"/>
         <keywordReference id="de.walware.statet.base.keywords.Template"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
      <page
            class="de.walware.statet.base.internal.ui.preferences.TaskTagsPreferencePage"
            id="de.walware.statet.base.propertyPages.TaskTags"
            name="%propertyPages.TaskTags.name"
            >
         <enabledWhen>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter
               name="nature"
               value="de.walware.statet.base.StatetNature"/>
         <keywordReference id="de.walware.statet.base.keywords.TaskTag"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="de.walware.statet.base.keywords.StatetGeneral"
            label="%keywords.StatetGeneral"/>
      <keyword
            id="de.walware.statet.base.keywords.Appearance"
            label="%keywords.Appearance"/>
      <keyword
            id="de.walware.statet.base.keywords.Template"
            label="%keywords.Template"/>
      <keyword
            id="de.walware.statet.base.keywords.Editor"
            label="%keywords.Editor"/>
      <keyword
            id="de.walware.statet.base.keywords.TaskTag"
            label="%keywords.TaskTag"/>
      <keyword
            id="de.walware.statet.base.keywords.ProjectSpecific"
            label="%keywords.ProjectSpecific"/>
      <keyword
            id="de.walware.statet.base.keywords.Formatting"
            label="%keywords.Formatting"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.walware.statet.base.newWizards.StatetCategory"
            name="StatET"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.walware.statet.base.views.StatetCategory"
            name="StatET"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=selectAll">
         <menu
               label="%menus.Edit_ExpandSelectionTo.label"
               mnemonic="%menus.Edit_ExpandSelectionTo.mnemonic">
            <command
                  commandId="de.walware.statet.base.commands.SelectExpandEnclosing"
                  label="%commands.SelectEnclosing.name"
                  mnemonic="%menus.Edit_ExpandSelectionTo_Enclosing.mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.SelectExpandNext"
                  label="%commands.SelectNext.name"
                  mnemonic="%menus.Edit_ExpandSelectionTo_Next.mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.SelectExpandPrevious"
                  label="%commands.SelectPrevious.name"
                  mnemonic="%menus.Edit_ExpandSelectionTo_Previous.mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.SelectLast"
                  label="%commands.SelectLast.name"
                  mnemonic="%menus.Edit_ExpandSelectionTo_Last.mnemonic">
            </command>
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="de.walware.statet.base.menus.MainStatSource"
               label="Source"
               mnemonic="S">
            <separator
                  name="comment"
                  visible="true">
            </separator>
            <command
                  commandId="de.walware.statet.base.commands.ToggleComment"
                  label="%commands.ToggleComment.name"
                  mnemonic="%menus.Source_ToggleComment.mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.AddDocComment"
                  label="%commands.AddDocComment.name"
                  mnemonic="%menus.Source_AddDocComment.mnemonic">
            </command>
            <separator
                  name="format"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.text.shiftRight"
                  mnemonic="%menus.Source_ShiftRight.mnemonic">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.shiftLeft"
                  mnemonic="%menus.Source_ShiftLeft.mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.CorrectIndent"
                  label="%commands.CorrectIndent.name"
                  mnemonic="%menus.Source_CorrectIndent.mnemonic">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
           </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution locationURI="menu:goTo">
         <command
               commandId="de.walware.statet.base.commands.GotoMatchingBracket"
               label="%menuCommand.GotoMatchingBracket.label"
               mnemonic="%menus.Nav_GoTo_GotoMatchingBracket.mnemonic"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="de.walware.statet.base.markers.InitialSelection"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
   </extension>

</plugin>
