<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2005-2012 WalWare/StatET-Project (www.walware.de/goto/statet).
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>

   <extension-point id="codeGenerationTemplatesCategory" name="Adds a new category of templates to the StatET dialog for editing code-templates" schema="schema/codeGenerationTemplatesCategory.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.base.internal.ui.StatetUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.walware.statet.base.internal.ui.StatetPerspectiveFactory"
            icon="icons/view_16/statet_perspective.gif"
            id="de.walware.statet.base.perspectives.StatetPerspective"
            name="%perspectives_StatetPerspective_name"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.StatetBasePreferencePage"
            name="%preferencePages_StatetBase_name">
         <keywordReference id="de.walware.statet.base.keywords.StatetGeneral"/>
      </page>
      <page
            id="de.walware.statet.base.preferencePages.Editors"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.EditorsPreferencePage"
            name="%preferencePages_Editors_name">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceAppearance"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceEditor"/>
      </page>
      <page
            id="de.walware.statet.base.preferencePages.RunDebug"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.EmptyPreferencePage"
            name="%preferencePages_RunDebug_name">
      </page>
      <page
            id="de.walware.statet.base.preferencePages.CodeGenerationTemplates"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.CodeGenerationTemplatesPreferencePage"
            name="%preferencePages_CodeGenerationTemplates_name">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceTemplates"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
      <page
            id="de.walware.statet.base.ui.preferencePages.TaskTags"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.TaskTagsPreferencePage"
            name="%preferencePages_TaskTags_name">
         <keywordReference id="de.walware.ecommons.ltk.keywords.TaskTags"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.walware.statet.base.internal.ui.preferences.CodeGenerationTemplatesPreferencePage"
            id="de.walware.statet.base.propertyPages.CodeGenerationTemplates"
            name="%propertyPages_CodeGenerationTemplates_name"
            >
         <enabledWhen>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter
               name="nature"
               value="de.walware.statet.base.StatetNature"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceTemplates"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
      <page
            class="de.walware.statet.base.internal.ui.preferences.TaskTagsPreferencePage"
            id="de.walware.statet.base.propertyPages.TaskTags"
            name="%propertyPages_TaskTags_name"
            >
         <enabledWhen>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter
               name="nature"
               value="de.walware.statet.base.StatetNature"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.TaskTags"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="de.walware.statet.base.keywords.StatetGeneral"
            label="%keywords_StatetGeneral"/>
      <keyword
            id="de.walware.statet.base.keywords.ProjectSpecific"
            label="%keywords_ProjectSpecific"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.walware.statet.base.newWizards.StatetCategory"
            name="StatET"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.walware.statet.base.views.StatetCategory"
            name="StatET"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.ui.edit.text.actionSet.presentation">
            <separator
                  name="Presentation">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.edit.text.actionSet.presentation?after=Presentation">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
               style="toggle">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <with
                        variable="activeEditor">
                     <instanceof
                           value="de.walware.ecommons.ltk.ui.sourceediting.SourceEditor1">
                     </instanceof>
                  </with>
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="org.eclipse.ui.edit.text.actionSet.presentation">
                        </equals>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
            icon="icons/tool_16/breakpoint.png">
      </image>
   </extension>
   
      <extension
         point="org.eclipse.ui.views">
      <view
            id="de.walware.statet.base.views.ContentFilter"
            category="de.walware.statet.base.views.StatetCategory"
            icon="icons/view_16/view-filter.png"
            name="%views_ContentFilterView_name"
            class="de.walware.statet.base.ui.contentfilter.FilterView"
            restorable="true">
      </view>
   </extension>

</plugin>
