<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2005-2009 WalWare/StatET-Project (www.walware.de/goto/statet).
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>

   <extension-point id="codeGenerationTemplatesCategory" name="Adds a new category of templates to the StatET dialog for editing code-templates" schema="schema/codeGenerationTemplatesCategory.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.walware.statet.base.internal.ui.StatetUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.walware.statet.base.internal.ui.StatetPerspectiveFactory"
            icon="icons/view_16/statet_perspective.gif"
            id="de.walware.statet.base.perspectives.StatetPerspective"
            name="%perspectives_StatetPerspective_name"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.walware.statet.base.contexts.TextEditor"
            parentId="org.eclipse.ui.textEditorScope"
            name="%contexts_TextEditorScope_name"
            description="%contexts_TextEditorScope_description">
      </context>
      <context
            id="de.walware.statet.base.contexts.StructuredElementViewer"
            parentId="org.eclipse.ui.contexts.window"
            name="%contexts_StructuredElementViewer_name">
            description="%contexts_StructuredElementViewer_description">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.walware.statet.base.contexts.EditSourceActionSet"
            label="StatET Source Editing">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.walware.statet.base.expressions.EditSourceActionSet">
              <with variable="activeContexts">
                 <iterate
                       operator="or">
                    <equals value="de.walware.statet.base.contexts.EditSourceActionSet">
                    </equals>
                 </iterate>
              </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <!-- edit -->
      <command
            id="de.walware.statet.base.commands.CopyElementName"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_CopyElementName_name"
            description="%commands_CopyElementName_description"
            />
      <command
            id="de.walware.statet.base.commands.SelectExpandEnclosing"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectEnclosing_name"
            description="%commands_SelectEnclosing_description"
            />
      <command
            id="de.walware.statet.base.commands.SelectExpandNext"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectNext_name"
            description="%commands_SelectNext_description"
            />
      <command
            id="de.walware.statet.base.commands.SelectExpandPrevious"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectPrevious_name"
            description="%commands_SelectPrevious_description"
            />
      <command
            id="de.walware.statet.base.commands.SelectLast"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectLast_name"
            description="%commands_SelectLast_description"
            />
      <!-- navigate -->
      <command
            id="de.walware.statet.base.commands.GotoMatchingBracket"
            categoryId="org.eclipse.ui.category.navigate"
            name="%commands_GotoMatchingBracket_name"
            description="%commands_GotoMatchingBracket_description" />
      <!-- source -->
      <category
            id="de.walware.statet.base.commandCategorys.StatetSource"
            name="%categorys_StatetSource_name"
            description="%categorys_StatetSource_description" />
      <command
            id="de.walware.statet.base.commands.ToggleComment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_ToggleComment_name"
            description="%commands_ToggleComment_description"
            />
      <command
            id="de.walware.statet.base.commands.InsertAssignment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_InsertAssignment_name"
            description="%commands_InsertAssignment_description"
            />
      <command
            id="de.walware.statet.base.commands.AddDocComment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_AddDocComment_name"
            description="%commands_AddDocComment_description"
            />
      <command
            id="de.walware.statet.base.commands.GenerateElementComment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_GenerateElementComment_name"
            description="%commands_GenerateElementComment_description"
            />
      <command
            id="de.walware.statet.base.commands.CorrectIndent"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_CorrectIndent_name"
            description="%commands_CorrectIndent_description"
            />
      
      <command
            id="de.walware.statet.base.commands.ToggleLiveReportProblems"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_ToggleReportProblemWhenTyping_name"
            description="%commands_ToggleReportProblemWhenTyping_description"
            />
      
      <!-- refactor -->
      <command
            id="de.walware.statet.base.commands.RefactorRenameInWorkspace"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorRenameInWorkspace_name"
            description="%commands_RefactorRenameInWorkspace_description"/>
      <command
            id="de.walware.statet.base.commands.RefactorRenameInSelectedRegion"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorRenameInSelectedRegion_name"
            description="%commands_RefactorRenameInSelectedRegion_description"/>
      <command
            id="de.walware.statet.base.commands.RefactorInlineLocalVariable"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorInlineLocalVariable_name"
            description="%commands_RefactorInlineLocalVariable_description"/>
      <command
            id="de.walware.statet.base.commands.RefactorExtractLocalVariable"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorExtractLocalVariable_name"
            description="%commands_RefactorExtractLocalVariable_description"/>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
            icon="icons/tool_16/mark-occurrences.png"
            disabledIcon="icons/tool_16_d/mark-occurrences.png" />
      <image
            commandId="de.walware.statet.base.commands.CopyElementName"
            icon="icons/tool_16/copy-name.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         
      <key
            commandId="de.walware.statet.base.commands.SelectExpandEnclosing"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_UP"/>
      <key
            commandId="de.walware.statet.base.commands.SelectExpandNext"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_RIGHT"/>
      <key
            commandId="de.walware.statet.base.commands.SelectExpandPrevious"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_LEFT"/>
      <key
            commandId="de.walware.statet.base.commands.SelectLast"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_DOWN"/>

      <key
            commandId="de.walware.statet.base.commands.GotoMatchingBracket"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P"/>
            
      <key
            commandId="de.walware.statet.base.commands.ToggleComment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>
      <key
            commandId="de.walware.statet.base.commands.InsertAssignment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+&lt;"/>
      <key
            commandId="de.walware.statet.base.commands.InsertAssignment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+="/>
      <key
            commandId="de.walware.statet.base.commands.AddDocComment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+#"/>
      <key
            commandId="de.walware.statet.base.commands.AddDocComment"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+/"/>
      <key
            commandId="de.walware.statet.base.commands.CorrectIndent"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I"/>
      <key
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findNext"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findPrevious"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      
      <key
            commandId="org.eclipse.ui.edit.text.showInformation"
            contextId="de.walware.statet.base.contexts.StructuredElementViewer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2">
      </key>
      <key
            commandId="de.walware.statet.base.commands.RefactorRenameInWorkspace"
            contextId="de.walware.statet.base.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.StatetBasePreferencePage"
            name="%preferencePages_StatetBase_name">
         <keywordReference id="de.walware.statet.base.keywords.StatetGeneral"/>
      </page>
      <page
            id="de.walware.statet.base.preferencePages.Editors"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.EditorsPreferencePage"
            name="%preferencePages_Editors_name">
         <keywordReference id="de.walware.statet.base.keywords.Appearance"/>
         <keywordReference id="de.walware.statet.base.keywords.Editor"/>
      </page>
      <page
            id="de.walware.statet.base.preferencePages.RunDebug"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.EmptyPreferencePage"
            name="%preferencePages_RunDebug_name">
      </page>
      <page
            id="de.walware.statet.base.preferencePages.CodeGenerationTemplates"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.CodeGenerationTemplatesPreferencePage"
            name="%preferencePages_CodeGenerationTemplates_name">
         <keywordReference id="de.walware.statet.base.keywords.Template"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
      <page
            id="de.walware.statet.base.ui.preferencePages.TaskTags"
            category="de.walware.statet.base.preferencePages.StatetBase"
            class="de.walware.statet.base.internal.ui.preferences.TaskTagsPreferencePage"
            name="%preferencePages_TaskTags_name">
         <keywordReference id="de.walware.statet.base.keywords.TaskTag"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.walware.statet.base.internal.ui.preferences.CodeGenerationTemplatesPreferencePage"
            id="de.walware.statet.base.propertyPages.CodeGenerationTemplates"
            name="%propertyPages_CodeGenerationTemplates_name"
            >
         <enabledWhen>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter
               name="nature"
               value="de.walware.statet.base.StatetNature"/>
         <keywordReference id="de.walware.statet.base.keywords.Template"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
      <page
            class="de.walware.statet.base.internal.ui.preferences.TaskTagsPreferencePage"
            id="de.walware.statet.base.propertyPages.TaskTags"
            name="%propertyPages_TaskTags_name"
            >
         <enabledWhen>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter
               name="nature"
               value="de.walware.statet.base.StatetNature"/>
         <keywordReference id="de.walware.statet.base.keywords.TaskTag"/>
         <keywordReference id="de.walware.statet.base.keywords.ProjectSpecific"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="de.walware.statet.base.keywords.StatetGeneral"
            label="%keywords_StatetGeneral"/>
      <keyword
            id="de.walware.statet.base.keywords.Appearance"
            label="%keywords_Appearance"/>
      <keyword
            id="de.walware.statet.base.keywords.Template"
            label="%keywords_Template"/>
      <keyword
            id="de.walware.statet.base.keywords.Editor"
            label="%keywords_Editor"/>
      <keyword
            id="de.walware.statet.base.keywords.TaskTag"
            label="%keywords_TaskTag"/>
      <keyword
            id="de.walware.statet.base.keywords.ProjectSpecific"
            label="%keywords_ProjectSpecific"/>
      <keyword
            id="de.walware.statet.base.keywords.Formatting"
            label="%keywords_Formatting"/>
      <keyword
            id="de.walware.statet.base.keywords.SpellChecking"
            label="%keywords_SpellChecking">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.walware.statet.base.newWizards.StatetCategory"
            name="StatET"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.walware.statet.base.views.StatetCategory"
            name="StatET"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=selectAll">
         <menu
               label="%menus_Edit_ExpandSelectionTo_label"
               mnemonic="%menus_Edit_ExpandSelectionTo_mnemonic">
            <command
                  commandId="de.walware.statet.base.commands.SelectExpandEnclosing"
                  label="%commands_SelectEnclosing_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Enclosing_mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.SelectExpandNext"
                  label="%commands_SelectNext_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Next_mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.SelectExpandPrevious"
                  label="%commands_SelectPrevious_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Previous_mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.SelectLast"
                  label="%commands_SelectLast_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Last_mnemonic">
            </command>
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="de.walware.statet.base.menus.MainStatSource"
               label="Source"
               mnemonic="S">
            <separator
                  name="comment"
                  visible="true">
            </separator>
            <command
                  commandId="de.walware.statet.base.commands.ToggleComment"
                  mnemonic="%menus_Source_ToggleComment_mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.AddDocComment"
                  mnemonic="%menus_Source_AddDocComment_mnemonic">
            </command>
            <separator
                  name="comment.add"
                  visible="false">
            </separator>
            <separator
                  name="format"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.text.shiftRight"
                  mnemonic="%menus_Source_ShiftRight_mnemonic">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.shiftLeft"
                  mnemonic="%menus_Source_ShiftLeft_mnemonic">
            </command>
            <command
                  commandId="de.walware.statet.base.commands.CorrectIndent"
                  label="%commands_CorrectIndent_name"
                  mnemonic="%menus_Source_CorrectIndent_mnemonic">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
           </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution locationURI="menu:goTo">
         <command
               commandId="de.walware.statet.base.commands.GotoMatchingBracket"
               label="%menus_Nav_Goto_GotoMatchingBracket_label"
               mnemonic="%menus_Nav_GoTo_GotoMatchingBracket_mnemonic"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:navigate?after=open.ext">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
               style="push">
            <visibleWhen>
               <and>
                  <reference
                        definitionId="de.walware.statet.base.expressions.EditSourceActionSet"/>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.ui.edit.text.actionSet.presentation">
            <separator
                  name="Presentation">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.edit.text.actionSet.presentation?after=Presentation">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
               style="toggle">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <with
                        variable="activeEditor">
                     <instanceof
                           value="de.walware.statet.base.ui.sourceeditors.StatextEditor1">
                     </instanceof>
                  </with>
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="org.eclipse.ui.edit.text.actionSet.presentation">
                        </equals>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         id="de.walware.ecommons.resourceMarkers.InitialSelection"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="de.walware.ecommons.editorAnnotations.CommonOccurrences"
            super="org.eclipse.jdt.ui.occurrences">
      </type>
      <type
            name="de.walware.ecommons.editorAnnotations.WriteOccurrences"
            super="org.eclipse.jdt.ui.occurrences.write">
      </type>
      <type
            name="de.walware.ecommons.editorAnnotations.ContentAssistOverwrite">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <!-- Preferences are copy of JDT values, but increased priority -->
      <specification
            annotationType="de.walware.ecommons.editorAnnotations.WriteOccurrences"
            includeOnPreferencePage="false"
            presentationLayer="5"
            
            colorPreferenceKey="writeOccurrenceIndicationColor"
            colorPreferenceValue="240,216,168"
            overviewRulerPreferenceKey="writeOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="writeOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            highlightPreferenceKey="writeOccurrenceHighlighting"
            highlightPreferenceValue="true"
            textPreferenceKey="writeOccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="writeOccurrenceTextStyle"
            textStylePreferenceValue="NONE">
      </specification>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            id="de.walware.statet.base.propertyTester.ContentTypeActivation"
            class="de.walware.ecommons.internal.ui.ActivatedContentTypeTester"
            namespace="de.walware.ecommons.ltk"
            properties="matchesActivatedContentType,matchesContentType"
            type="org.eclipse.core.runtime.IAdaptable"/>
      <propertyTester
            id="de.walware.statet.base.propertyTester.ModelElements"
            class="de.walware.ecommons.ltk.internal.ui.refactoring.ModelElementTester"
            namespace="de.walware.ecommons.ltk"
            properties="isElementC1TypeSelection,isElementC2TypeSelection"
            type="org.eclipse.jface.viewers.ISelection"/>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:window?after=newEditor">
         <dynamic
               id="de.walware.statet.base.menus.DocShareContributions"
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
