<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 #=============================================================================#
 # Copyright (c) 2012-2014 Stephan Wahlbrink (WalWare.de) and others.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 #=============================================================================#
-->

<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="de.walware.statet.rtm.ggplot.editors.GGPlot"
            icon="icons/obj_16/ggplot_task.png"
            name="%editors_GGPlot_label"
            class="de.walware.statet.rtm.ggplot.internal.ui.editors.GGPlotEditor"
            contributorClass="de.walware.ecommons.emf.ui.forms.EFEditorActionBarContributor">
         <contentTypeBinding
               contentTypeId="de.walware.statet.rtm.contentTypes.GGPlot">
         </contentTypeBinding>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.walware.statet.rtm.ggplot.commands.NewGGPlot"
            categoryId="de.walware.statet.rtm.commands.RTasksCategory"
            name="%commands_NewGGPlot_name"
            description="%commands_NewGGPlot_description"
            defaultHandler="de.walware.statet.rtm.ggplot.ui.actions.NewGGPlotHandler">
      </command>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="de.walware.statet.rtm.ggplot.newWizards.NewGGPlot"
            category="de.walware.statet.r.newWizards.RCategory/de.walware.statet.rtm.base.newWizards.RTasksCategory"
            icon="icons/obj_16/ggplot_task.png"
            name="%newWizards_NewGGPlot_name"
            class="de.walware.statet.rtm.ggplot.ui.actions.NewGGPlotFileWizard">
         <description>%newWizards_NewGGPlot_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:de.walware.statet.r.menus.RMain?after=r_tasks.graphics">
         <command
               commandId="de.walware.statet.rtm.ggplot.commands.NewGGPlot"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.walware.statet.rtm.base.perspectives.RGraphics">
         <newWizardShortcut
               id="de.walware.statet.rtm.ggplot.newWizards.NewGGPlot">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.walware.statet.rtm.ggplot.editors.GGPlot">
         <propertyCategory
               category="main"></propertyCategory>
         <propertyCategory
               category="layer">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.walware.statet.rtm.ggplot.editors.GGPlot">
         <propertyTab
               id="de.walware.statet.rtm.ggplot.properties.MainTitleStyleTab"
               category="main"
               label="Main Title"
               indented="true">
         </propertyTab>
         <propertyTab
               id="de.walware.statet.rtm.ggplot.properties.AxXLabelStyleTab"
               category="main"
               label="X-Axis Label"
               indented="true"
               afterTab="de.walware.statet.rtm.ggplot.properties.MainTitleStyleTab">
         </propertyTab>
         <propertyTab
               id="de.walware.statet.rtm.ggplot.properties.AxYLabelStyleTab"
               category="main"
               label="Y-Axis Label"
               indented="true"
               afterTab="de.walware.statet.rtm.ggplot.properties.AxXLabelStyleTab">
         </propertyTab>
         <propertyTab
               id="de.walware.statet.rtm.ggplot.properties.AxXTextStyleTab"
               category="main"
               label="X-Axis Text"
               indented="true"
               afterTab="de.walware.statet.rtm.ggplot.properties.AxYLabelStyleTab">
         </propertyTab>
         <propertyTab
               id="de.walware.statet.rtm.ggplot.properties.AxYTextStyleTab"
               category="main"
               label="Y-Axis Text"
               indented="true"
               afterTab="de.walware.statet.rtm.ggplot.properties.AxXTextStyleTab">
         </propertyTab>
         <propertyTab
               id="de.walware.statet.rtm.ggplot.properties.LayerTextStyleTab"
               category="main"
               label="Layer Text"
               indented="true"
               afterTab="de.walware.statet.rtm.ggplot.properties.AxYTextStyleTab">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.walware.statet.rtm.ggplot.editors.GGPlot">
         <propertySection
               id="de.walware.statet.rtm.ggplot.properties.MainTitleStyleSection"
               tab="de.walware.statet.rtm.ggplot.properties.MainTitleStyleTab"
               class="de.walware.statet.rtm.ggplot.internal.ui.editors.TextStylePropertySection$MainTitle"
               filter="org.eclipse.jface.viewers.AcceptAllFilter">
         </propertySection>
         <propertySection
               id="de.walware.statet.rtm.ggplot.properties.AxXLabelStyleSection"
               tab="de.walware.statet.rtm.ggplot.properties.AxXLabelStyleTab"
               class="de.walware.statet.rtm.ggplot.internal.ui.editors.TextStylePropertySection$AxXLabel"
               filter="org.eclipse.jface.viewers.AcceptAllFilter">
         </propertySection>
         <propertySection
               id="de.walware.statet.rtm.ggplot.properties.AxYLabelStyleSection"
               tab="de.walware.statet.rtm.ggplot.properties.AxYLabelStyleTab"
               class="de.walware.statet.rtm.ggplot.internal.ui.editors.TextStylePropertySection$AxYLabel"
               filter="org.eclipse.jface.viewers.AcceptAllFilter">
         </propertySection>
         <propertySection
               id="de.walware.statet.rtm.ggplot.properties.AxXTextStyleSection"
               tab="de.walware.statet.rtm.ggplot.properties.AxXTextStyleTab"
               class="de.walware.statet.rtm.ggplot.internal.ui.editors.TextStylePropertySection$AxXText"
               filter="org.eclipse.jface.viewers.AcceptAllFilter">
         </propertySection>
         <propertySection
               id="de.walware.statet.rtm.ggplot.properties.AxYTextStyleSection"
               tab="de.walware.statet.rtm.ggplot.properties.AxYTextStyleTab"
               class="de.walware.statet.rtm.ggplot.internal.ui.editors.TextStylePropertySection$AxYText"
               filter="org.eclipse.jface.viewers.AcceptAllFilter">
         </propertySection>
         <propertySection
               id="de.walware.statet.rtm.ggplot.properties.LayerTextStyleSection"
               tab="de.walware.statet.rtm.ggplot.properties.LayerTextStyleTab"
               class="de.walware.statet.rtm.ggplot.internal.ui.editors.TextStylePropertySection$LayerText"
               enablesFor="2"
               filter="de.walware.statet.rtm.ggplot.internal.ui.editors.LayerTextStyleFilter">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
